@tailwind base;

@tailwind components;

@tailwind utilities;

.responsive-image{
  margin: 0px;
  padding: 0px;
  background-color: #262626;
  background-repeat:no-repeat;
  background-size: auto 100vh;
  background-position:top;
}

@media (max-width: 767px){
  .responsive-image{
    margin: 0px;
    padding: 0px;
    background-repeat:no-repeat;
    background-position:top;
    background-size: cover 120%;
  }
}

.transparent{
  opacity: 0;
}

.navBtn{
  @apply px-4 md:px-8 lg:px-10 py-2  hover:cursor-pointer 
}
.navHover{
  @apply hover:border-b-cyan-400 pb-1 text-lg md:text-2xl lg:text-3xl;
  position: relative;
  display: inline-block;
}

.navHover:hover{
  color: #22d3ee;
  transition: 0.3s;
}

.navHover::after{
  content: '';
  height: 3px;
  width: 0;
  background: #22d3ee;
  position:absolute;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

@media (max-width:1023px){
  .navHover::after{
    content: '';
    height: 3px;
    width: 0;
    background: #22d3ee;
    position:absolute;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
  }
}

@media (max-width:767px){
  .navHover::after{
    content: '';
    height: 3px;
    width: 0;
    background: #22d3ee;
    position:absolute;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
  }
}

.navHover:hover::after{
  width: 100%;

}

.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  border: 1px red solid;
}
.image2 {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 1px green solid;
}